/* font.css */

:root{
  --font-main:
    "Pretendard",
    "Malgun Gothic",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Segoe UI",
    Arial,
    sans-serif;
}

html,
body,
button,
input,
select,
textarea,
table,
th,
td{
  font-family: var(--font-main);
}

/* 숫자 정렬 */
.mono-num{
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
}